body {
    font-family: Arial, sans-serif;
    /* background-color: white; */

    margin: 0;
    padding: 0;
    /* background: linear-gradient(135deg, #71b7e6, #aa3a3a); */
    background: linear-gradient(135deg, #6e3c77, #ffc400ea);
}

header {
    background-color: #ff4500;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.donated-foods {
    background-color: #fff;
    border: 2px solid #ff4500;
    width: 80%;
    max-width: 1200px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.donated-foods h2 {
    color: #ff4500;
    text-align: center;
}

.food-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.food-item {
    background-color: #fff;
    border: 2px solid #ff4500;
    height: 150px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.food-item img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #ff4500;
}

.food-item h3 {
    color: #ff4500;
    margin: 10px 0;
}

.food-item p {
    color: #333;
    margin: 10px 0;
}

button {
    background: linear-gradient(135deg, #30b7e6, #3aaa3c);
    border-radius: 10px;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #e63900;
}


/* Dropdown button */
.food-item form {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

select[name="feedback"] {
    border: 1px solid #ff4500;
    border-radius: 5px;
    background: linear-gradient(135deg, #fff, #f9f9f9);
    padding: 8px;
    color: #333;
    font-size: 14px;
    cursor: pointer;
    width: 120px;
    outline: none;
    transition: background 0.3s ease;
}

select[name="feedback"]:hover {
    background: #f1f1f1;
}

button[type="submit"] {
    background: linear-gradient(135deg, #30b7e6, #3aaa3c);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #e63900;
}
